.station-card {
    min-width: 240px;
}

.station-card [slot='header'] {
    display: flex;
    justify-content: center;
}

.station-card [slot='footer'] {
    display: flex;
    justify-content: space-between;
}

.stations-carousel {
    min-height: 80vh;
}

.station-item-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 26em;
    overflow-y: auto;
}

.story-container {
    margin-top: 1em;
}

p.en-story {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
}

@media (min-width: 768px) {
    .stations-carousel {
        min-height: auto;
        max-height: 30em;
    }

    .station-item-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .story-container {
        margin-top: 0;
        margin-left: 2em;
        flex: 1;
        max-width: 50%;
    }
}

div.station-circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #00254c;
    border-radius: 50%;
    display: inline-block;
}

div.line-drawing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.zh-name {
    font-size: 3.2em;
    letter-spacing: 0.1em;
    font-weight: 650;
    font-family: "Noto Serif TC", sans-serif;
    margin: 0.5em auto 0.1em auto;
}

p.en-transliteration {
    font-size: 1.6em;
    font-weight: 550;
    text-transform: capitalize;
    margin: 0.1em auto 0.5em auto;
}

span.en-name {
    font-size: 1em;
    color: grey;
    margin: auto 0;
}

div.zh-phonetics-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 0.3em;
  margin: auto 0;
}

span.jyutping {
    font-size: 0.9em;
    color: grey;
}

span.pinyin {
    font-size: 0.9em;
    color: grey;
}

span.card-title {
    color: grey;
    font-size: 0.9em;
}

.pick-line-drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pick-line-drawer ul li sl-button {
    margin-bottom: 1em;
}

#eal-button {
    --sl-color-primary-600: #53B7E8;
    --sl-color-primary-500: #53B7E8;
}

#eal-button::part(base) {
    border-color: #53B7E8;
}

#ael-button {
    --sl-color-primary-600: #00888A;
    --sl-color-primary-500: #00888A;
}

#ael-button::part(base) {
    border-color: #00888A;
}

#tcl-button {
    --sl-color-primary-600: #F7943E;
    --sl-color-primary-500: #F7943E;
}

#tcl-button::part(base) {
    border-color: #F7943E;
}

#isl-button {
    --sl-color-primary-600: #007DC5;
    --sl-color-primary-500: #007DC5;
}

#isl-button::part(base) {
    border-color: #007DC5;
}

#tkl-button {
    --sl-color-primary-600: #7D499D;
    --sl-color-primary-500: #7D499D;
}

#tkl-button::part(base) {
    border-color: #7D499D;
}

#sil-button {
    --sl-color-primary-600: #99cf16;
    --sl-color-primary-500: #99cf16;
}

#sil-button::part(base) {
    border-color: #99cf16;
}

#twl-button {
    --sl-color-primary-600: #ED1D24;
    --sl-color-primary-500: #ED1D24;
}

#twl-button::part(base) {
    border-color: #ED1D24;
}

h3#current-line {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 3px;
    padding-bottom: 4px;
}

body {
    font-family: Helvetica, sans-serif;
}

footer {
    font-size: 0.8em;
    text-align: right;
}

@media (prefers-color-scheme: light) {
    body {
        color: #00254c;
    }

    div.station-circle {
        background-color: white;
        border: 4px solid #00254c;
    }
}

@media (prefers-color-scheme: dark) {
    div.station-circle {
        background-color: white;
        border: 4px solid #555;
    }
}