.station-card {
    min-width: 240px;
}

.station-card [slot='header'] {
    display: flex;
    justify-content: center;
}

.station-card [slot='footer'] {
    display: flex;
    justify-content: space-between;
}

.stations-carousel {
    min-height: 27em;
}

div.station-circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #00254c;
    border-radius: 50%;
    display: inline-block;
}

div.line-drawing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.zh-name {
    font-size: 3.2em;
    letter-spacing: 0.1em;
    font-weight: 650;
    font-family: "Noto Serif TC", sans-serif;
    margin: 0.5em auto 0.1em auto;
}

p.en-transliteration {
    font-size: 1.6em;
    font-weight: 550;
    text-transform: capitalize;
    margin: 0.1em auto 0.5em auto;
}

span.en-name {
    font-size: 0.9em;
    color: grey;
    margin: auto 0;
}

div.zh-phonetics-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  /* Right-aligns the spans */
  text-align: right;      /* Ensures text hugs the right edge */
  gap: 0.25em;            /* Optional small vertical space between spans */
  margin: auto 0;
}

span.jyutping {
    font-size: 0.9em;
    color: grey;
    /* margin: auto 0; */
}

span.pinyin {
    font-size: 0.9em;
    color: grey;
    /* margin: auto 0; */
}

span.card-title {
    color: grey;
    font-size: 0.9em;
}

#eal-button {
    --sl-color-primary-600: #53B7E8;
    --sl-color-primary-500: #53B7E8;
}

#eal-button::part(base) {
    border-color: #53B7E8;
}

#ael-button {
    --sl-color-primary-600: #00888A;
    --sl-color-primary-500: #00888A;
}

#ael-button::part(base) {
    border-color: #00888A;
}

body {
    font-family: Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
    body {
        color: #00254c;
    }

    div.station-circle {
        background-color: white;
        border: 4px solid #00254c;
    }
}

@media (prefers-color-scheme: dark) {
    div.station-circle {
        background-color: #242428;
        border: 4px solid #99c1e9;
    }
}