<sl-carousel-item>
    <div class="station-item-wrapper">
        <sl-card class="station-card">
            <div slot="header">
                <span class="card-title">HONG KONG IRON ROAD</span>
            </div>
            <div class="line-drawing">
                <div class="station-circle"></div>
            </div>
            <p class="zh-name"></p>
            <p class="en-transliteration"></p>
            <div slot="footer">
                <span class="en-name"></span>
                <div class="zh-phonetics-stack">
                    <span class="jyutping"></span>
                    <span class="pinyin"></span>
                </div>
            </div>
        </sl-card>
        <div class="story-container">
            <p class="en-story"></p>
        </div>
    </div>
</sl-carousel-item>