<sl-carousel-item>
    <sl-card class="station-card">
        <div slot="header">
            <div class="line-drawing">
                <div class="station-circle"></div>         
            </div>
            <h2 class="zh-name"></h2>
            <p class="en-transliteration"></p>
        </div>
        <div>
            <p>
                <span class="en-name"></span>
            </p>
            <p>Station Code:
                <span class="station-code"></span>
            </p>
            <p>Jyutping:
                <span class="jyutping"></span>
            </p>
        </div>
    </sl-card>
</sl-carousel-item>